<!DOCTYPE html>
<html>
<head>
  <title>PartyBusCheckin</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

  <meta name="viewport" content="width=device-width, initial-scale=1"> 

  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.css" />
  <script src="http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<h2>PartyBus Checkin!</h2>
<div data-role="page">
<%= yield %>
</div>
</body>
</html>
